[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
evm_version = "shanghai"
optimizer = true
optimizer_runs = 200
remappings = [
    "forge-std/=lib/forge-std/src/",
    "src/contracts/interfaces/=src/interfaces/"
]
fs_permissions = [{ access = "read", path = "./" }]
[rpc_endpoints]
sepolia = "${RPC_URL}"
bsc_testnet = "https://data-seed-prebsc-1-s1.binance.org:8545"
bsc_mainnet = "https://bsc-dataseed.binance.org"
