name: Foundry Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  FOUNDRY_PROFILE: default

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install Dependencies
        # Removed --no-commit due to CLI version compatibility
        run: forge install foundry-rs/forge-std

      - name: Run Tests
        run: forge test
